<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>https://hwyxtklbffqwcbtuetit.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh3eXh0a2xiZmZxd2NidHVldGl0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2OTEwMTUsImV4cCI6MjA5ODI2NzAxNX0.w3BhjNv4OURAX6BXnFZGlFA5g5jGtSqcEt2SsGBlrR0</string>
</dict>
</plist>
